a.accounts {
	text-decoration: none !important;
}

span.id_remember_checkbox {
	font-size: 12px !important;
}

span.help-text {
	font-size: 8px !important;
  color: rgba(0, 0, 0, 0.54);
}

button.account-btn {
	color: white !important;
}

li.bookmark-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.bookmark-list {
	margin: 0px;
}

a.bookmark {
	text-decoration: none;
}

.mdl-card__media {
	background-color: #b5a4a4a6 !important;
}

img.ku_icon {
	width: 30px;
	height: 30px;
}

.profile-crimson {
	background-color: #771616 !important;
}

.nav-beige {
	background-color: rgb(206, 193, 177) !important;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
	background-color: #ffffff !important;
	color: #771616;
}

.mdl-navigation__link {
	color: #757575 !important;
}

.mdl-layout__header-row {
	background-color: white;
}
