{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
	<div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--60px">
		<div class="mdl-card__title mdl-color--cyan-600">
			<h2 class="mdl-card__title-text mdl-color-text--white">비밀번호 초기화 완료</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-grid">
			
		<div class="mdl-card__supporting-text mdl-grid">
			<p>이메일이 전송되었습니다!</p>
			<p>메일이 오지 않으면 잘못 입력하신 거니 다시 회원가입해주세요.. (절대 귀찮아서 그런게 아닙니다)</p>
		</div>
		<div class="mdl-cell mdl-cell--12-col send-button" align="center">
			<a href="{% url 'account_login' %}"><button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary account-btn" type="submit">로그인하러 가기</button></a>
		</div>
	</div>
</div>
{% endblock %}
