{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="mdl-grid">
	<div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--60px">
		<div class="mdl-card__title mdl-color--cyan-600">
			<h2 class="mdl-card__title-text mdl-color-text--white">비밀번호 변경</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-grid">
			<p>과연 쓸 일이 있을지 모르겠지만, 만들어는 놓았습니다. 기분 전환 삼아 한 번 바꿔보세요</p>
			<b class="mdl-color-text--accent">
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-error">
							<strong>{{ field.label }}는 {{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-error">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %}
			</b>

			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				{% csrf_token %}
				<!-- {{ form.as_p }} -->
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" name="oldpassword" autofocus="autofocus" id="id_oldpassword">
					<label class="mdl-textfield__label" for="id_oldpassword">현재비밀번호</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" name="password1" minlength="6" autofocus="autofocus" id="id_password1">
					<label class="mdl-textfield__label" for="id_password1">새 비밀번호</label>
					<span class="mdl-textfield__error">8자 이상 입력해주세요~</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" name="password2" minlength="6" autofocus="autofocus" id="id_password2">
					<label class="mdl-textfield__label" for="id_password2">새 비밀번호 확인</label>
				</div>
				<div class="mdl-cell mdl-cell--12-col send-button" align="center">
					<button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary account-btn" type="submit" name="action">비밀번호 변경</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
